/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "ralewaythin";
  src: url("fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ralewaythin", "sans-serif";
  font-size: 20px;
  font-weight: normal;
  padding: 1%;
}

header,
main,
.foot-page {
  max-width: 1460px;
  margin: 0 auto;
}

h1 {
  font-weight: 800;
  font-size: 22px;
}

h2,
h3 {
  font-weight: 900;
}

h4 {
  font-weight: 900;
}

p {
  font-weight: 500;
  margin: 10px 0 10px 0;
}

/*
##     ## ########    ###    ########  ######## ########          ##    ##    ###    ##     ##
##     ## ##         ## ##   ##     ## ##       ##     ##         ###   ##   ## ##   ##     ##
##     ## ##        ##   ##  ##     ## ##       ##     ##         ####  ##  ##   ##  ##     ##
######### ######   ##     ## ##     ## ######   ########  ####### ## ## ## ##     ## ##     ##
##     ## ##       ######### ##     ## ##       ##   ##           ##  #### #########  ##   ##
##     ## ##       ##     ## ##     ## ##       ##    ##          ##   ### ##     ##   ## ##
##     ## ######## ##     ## ########  ######## ##     ##         ##    ## ##     ##    ###
*/

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.logo {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100px;
}

.header-content {
  margin-bottom: 3%;
  margin-top: 2%;
}

.title {
  margin-bottom: 1%;
}

.search-filters,
.seek-by-town {
  margin-bottom: 30px;
}

/* pour étendre zone clickable sur le logo:
Display: inline-block is required so that margins and padding can be set
Position needs to be relative so that...
z-index can be used to make the clickable area stay on top of any text that follows.
The padding increases the area that can be clicked
The negative margin keeps the flow of surrounding text as it should be (beware of over lapping links)
*/
a .logo {
  display: inline-block;
  /*position: relative; */
  z-index: 1;
  padding: 2em;
  margin: -2em;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 1%;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 50px;
}

.header-nav .submit-inscription {
  font-weight: bold;
  color: #0065fc;
  border: hidden;
}

.header-nav a {
  text-transform: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  color: #000000;
  padding: 30px;
}

a:visited {
  color: #000000;
}

a:active {
  background-color: #f2f2f2;
}

.nav-links:hover {
  color: #0065fc;
  padding: 30px;
  border-top: solid#0065FC;
  border-bottom: none;
  margin: auto;
}

.footer-content a {
  text-transform: none;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #000000;
}

.footer-content a:active {
  background-color: #fff;
}

.display-more,
.display-more a:active {
  background-color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.fa-chart-line {
  color: #000000;
}

/*--------------/*
/*-------------- ######  ########    ###    ########   ######  ##     ## ########     ###    ########
/*--------------##    ## ##         ## ##   ##     ## ##    ## ##     ## ##     ##   ## ##   ##     ##
/*--------------##       ##        ##   ##  ##     ## ##       ##     ## ##     ##  ##   ##  ##     ##
/*-------------- ######  ######   ##     ## ########  ##       ######### ########  ##     ## ########
/*--------------      ## ##       ######### ##   ##   ##       ##     ## ##     ## ######### ##   ##
/*--------------##    ## ##       ##     ## ##    ##  ##    ## ##     ## ##     ## ##     ## ##    ##
/*-------------- ######  ######## ##     ## ##     ##  ######  ##     ## ########  ##     ## ##     ##
/*--------------*/

.seek,
.picture,
.town-search label {
  cursor: pointer;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.town-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.seek-by-town i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px 0 0 8px;
  height: 18px;
  width: 18px;
}

.picture {
  display: none;
}

.seek,
.seek-by-town i {
  border: none;
  padding: 15px;
}

#town {
  border: none;
  padding: 15px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-weight: bolder;
}

.seek {
  background: #0065fc;
  color: #ffff;
  border-radius: 0 8px 8px 0;
}

/*--------------/*
/*--------------######## #### ##       ######## ######## ########   ######
/*--------------##        ##  ##          ##    ##       ##     ## ##    ##
/*--------------##        ##  ##          ##    ##       ##     ## ##
/*--------------######    ##  ##          ##    ######   ########   ######
/*--------------##        ##  ##          ##    ##       ##   ##         ##
/*--------------##        ##  ##          ##    ##       ##    ##  ##    ##
/*--------------##       #### ########    ##    ######## ##     ##  ######
/*--------------*/

.search-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-filters li {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 9px 9px 0;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  height: 30px;
  margin-left: 25px;
  font-weight: 600;
  font-size: 18px;
  background-color: #ffff;
  cursor: pointer;
}

.search-filters li:hover {
  color: #0065fc;
  background-color: #f2f2f2;
}

.search-filters i {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  -webkit-filter: grayscale(0) blur(0px);
          filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search-filters li:hover i {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.search-filters p {
  font-weight: 900;
}

/*
#### ##    ## ########  #######
 ##  ###   ## ##       ##     ##
 ##  ####  ## ##       ##     ##
 ##  ## ## ## ######   ##     ##
 ##  ##  #### ##       ##     ##
 ##  ##   ### ##       ##     ##
#### ##    ## ##        #######
*/
.info-logements small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.info-logements i {
  background-color: #ffff;
  color: #0065fc;
  font-size: 10px;
  border: solid 1px #f2f2f2;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 4px;
  margin-right: 5px;
}

/*
##     ##    ###    #### ##    ##
###   ###   ## ##    ##  ###   ##
#### ####  ##   ##   ##  ####  ##
## ### ## ##     ##  ##  ## ## ##
##     ## #########  ##  ##  ####
##     ## ##     ##  ##  ##   ###
##     ## ##     ## #### ##    ##
*/

#accomodation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4%;
}

.town-accomodation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 63%;
  min-width: 43%;
}

.accomodation-by-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}

.accomodation-by-rating .clickable-card {
  width: 30%;
  min-width: 272px;
}

aside {
  background-color: #f2f2f2;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2%;
  width: 26%;
}

aside h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.most-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 16px;
}

.nowrap {
  white-space: nowrap;
}

.accomodation-by-rating-info {
  padding: 10px;
}

.town-accomodation,
footer {
  background-color: #f2f2f2;
}

.town-accomodation {
  border-radius: 25px;
  padding-top: 45px;
}

.town-accomodation h2,
.display-more {
  margin-left: 20px;
}

/*
   _____          _____  _____   _____              _____ _____ ____  __  __  ____  _____       _______ _____ ____  _   _
  / ____|   /\   |  __ \|  __ \ / ____|       /\   / ____/ ____/ __ \|  \/  |/ __ \|  __ \   /\|__   __|_   _/ __ \| \ | |
 | |       /  \  | |__) | |  | | (___ ______ /  \ | |   | |   | |  | | \  / | |  | | |  | | /  \  | |    | || |  | |  \| |
 | |      / /\ \ |  _  /| |  | |\___ \______/ /\ \| |   | |   | |  | | |\/| | |  | | |  | |/ /\ \ | |    | || |  | | . ` |
 | |____ / ____ \| | \ \| |__| |____) |    / ____ \ |___| |___| |__| | |  | | |__| | |__| / ____ \| |   _| || |__| | |\  |
  \_____/_/    \_\_|  \_\_____/|_____/    /_/    \_\_____\_____\____/|_|  |_|\____/|_____/_/    \_\_|  |_____\____/|_| \_|


*/

.card {
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 2px 1px #d3d3d3;
          box-shadow: 2px 2px 2px 1px #d3d3d3;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
}

#accomodation .card {
  padding: 4px;
}

.most-pop .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: 158px;
}

.img1 {
  background-image: url(images/hebergements/4_small/Hôtel-soleil-du-matin.jpg);
}

.img2 {
  background-image: url(images/hebergements/4_small/Au-coeur-de-l-eau-chambres-d-hôtes.jpg);
}

.img3 {
  background-image: url(images/hebergements/4_small/Hôtel-tout-bleu-et-blanc.jpg);
}

.img1,
.img2,
.img3 {
  background-repeat: no-repeat;
  border-radius: 25px 0 0 25px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

.img1,
.img2,
.img3 {
  width: 140px;
}

.clickable-card {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.accomodation-by-rating img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 120px;
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.accomodation-by-rating .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.euro-highlight {
  font-weight: 900;
}

.fa-chart-line {
  float: right;
  vertical-align: top;
}

/*toujours probleme de padding, au coeur de leau pas aligné dans .accomodation-info quand on le retire.*/
.accomodation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 40px 20px 20px;
  max-height: 140px;
}

.accomodation-info h3 {
  margin-top: 10px;
}

/*toujours probleme de padding, au coeur de leau pas aligné dans .accomodation-info quand on le retire.*/

.accomodation-info .rating {
  margin-top: 25px;
  margin-bottom: 10px;
}

.rating .fa-star {
  color: #f2f2f2;
}

.rating .blue {
  color: #0065fc;
}

/*
   ###     ######  ######## #### ##     ## #### ######## #### ########  ######
  ## ##   ##    ##    ##     ##  ##     ##  ##     ##     ##  ##       ##    ##
 ##   ##  ##          ##     ##  ##     ##  ##     ##     ##  ##       ##
##     ## ##          ##     ##  ##     ##  ##     ##     ##  ######    ######
######### ##          ##     ##   ##   ##   ##     ##     ##  ##             ##
##     ## ##    ##    ##     ##    ## ##    ##     ##     ##  ##       ##    ##
##     ##  ######     ##    ####    ###    ####    ##    #### ########  ######
*/
#activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 20px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#accomodation h2,
aside h2,
#activities h2 {
  margin-bottom: 20px;
}

.activities-by-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 49%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.double-left,
.double-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activities-by-town .card {
  width: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.activities-by-town .card img {
  border-radius: 25px 25px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.activities-by-town .card h3 {
  padding: 20px;
}

.higher {
  margin-right: 20px;
}

.higher img {
  height: 500px;
}

.half {
  height: 293px;
}

.half img {
  height: 231px;
}

.almost-half {
  height: 259px;
}

.almost-half img {
  height: 203px;
}

.little-wide {
  height: 214px;
}

.little-wide img {
  height: 155px;
}

.third {
  height: 245px;
}

.third img {
  height: 188px;
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/
footer {
  padding-top: 1%;
  margin-top: 2%;
}

.foot-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.footer-ul li {
  padding-top: 10px;
}

.footer-content {
  margin: 15px 250px 15px 15px;
}

/*
 ######  ########
##    ## ##     ##
##       ##     ##
 ######  ##     ##
      ## ##     ##
##    ## ##     ##
 ######  ########
*/
@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .header-nav ul {
    margin-top: 10px;
  }

  aside {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #accomodation {
    margin-left: auto;
    margin-right: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .accomodation-by-rating {
    margin-bottom: 0;
  }

  .town-accomodation {

    max-width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .town-accomodation h2,
  .display-more {
    margin-left: 0px;
  }

  #activities {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .left,
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 560px;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 43px;
  }

  .activities-by-town .card {
    height: 560px;
    width: auto;
    min-width: 293px;
  }

  .activities-by-town .card img {
    height: 500px;
  }

  .double-left,
  .double-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .activities-by-town .card {
    margin: 10px;
  }

  .higher {
    width: auto;
  }
}

/*
########    ###    ########  ##       ######## ######## ######## ########
   ##      ## ##   ##     ## ##       ##          ##       ##    ##
   ##     ##   ##  ##     ## ##       ##          ##       ##    ##
   ##    ##     ## ########  ##       ######      ##       ##    ######
   ##    ######### ##     ## ##       ##          ##       ##    ##
   ##    ##     ## ##     ## ##       ##          ##       ##    ##
   ##    ##     ## ########  ######## ########    ##       ##    ########
*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .logo {
    left: 17px;
  }

  .header-nav ul {
    margin-top: 15px;
  }

  .search-filters ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .search-filters li {
    margin-left: 10px;
    margin-right: 10px;
  }

  header,
  #activities {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .town-accomodation {
    width: 100%;
    padding: 0px;
    padding-bottom: 30px;
  }

  .header-content {
    margin-left: 2%;
    margin-right: 2%;
  }

  aside {
    width: auto;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
  }

  .accomodation-by-rating .card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: 210px;
  }

  .most-pop img {
    height: 50%;
    width: 100%;
    border-radius: 25px 25px 0 0;
  }

  #activities {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #activities h2 {
    width: 100%;
    text-align: center;
  }

  .left,
  .right {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
  }

  .higher {
    margin-right: 0;
  }

  .double-left,
  .double-right {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .higher,
  .double-left,
  .double-right {
    height: 560px;
  }

  .wrap-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #accomodation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .town-accomodation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .accomodation-by-rating {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 10px;
  }

  .most-pop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
  }

  .most-pop .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*min-width: 272px plus joli? */
    width: 272px;
    /*min-width: 272px plus joli? */
    height: 197px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px;
  }

  aside h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #accomodation h2,
  aside h2,
  #activities h2 {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .town-accomodation h2,
  .display-more {
    margin-left: 0px;

  }

  .fa-chart-line {
    margin-left: 30px;
  }

  p {
    font-weight: 400;
    margin: 7px 0 10px 0;
    font-size: smaller;
  }

  .accomodation-info {
    padding: 10px;
  }

  .accomodation-info .rating {
    margin-top: 25px;
  }

  .activities-by-town .card {
    width: auto;
    height: 242px;
  }

  .activities-by-town .card img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 178px;
    width: 100%;
    border-radius: 25px 25px 0 0;
  }

  .footer-content {
    margin: 15px 89px 15px 15px;
  }

  .img1,
  .img3 {
    width: 188px;
    height: 100%;
  }

  .img2 {
    width: 188px;
    height: 100%;
  }
}

/*
##     ##  #######  ########  #### ##       ########
###   ### ##     ## ##     ##  ##  ##       ##
#### #### ##     ## ##     ##  ##  ##       ##
## ### ## ##     ## ########   ##  ##       ######
##     ## ##     ## ##     ##  ##  ##       ##
##     ## ##     ## ##     ##  ##  ##       ##
##     ##  #######  ########  #### ######## ########
*/

@media screen and (max-width: 767px) {

  body {
    padding: 0;
  }

  .nav-activities,
  .nav-accomodations {
    width: 50%;
  }

  .register {
    position: absolute;
    top: -60px;
    right: 0px;
  }

  .header-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .town-search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #town {
    width: 100%;
  }

  .search-filters ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .search-filters li {
    margin-left: 0;
    margin-right: 10px;
  }

  .nav-links:hover,
  .nav-links :active {
    color: #0065fc;
    padding: 30px 30px 10px 30px;
    border-bottom: solid#0065FC;
    border-top: none;
    margin: auto;
  }

  .nav-links {
    border-bottom: 3px solid #f2f2f2;
  }

  .header-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header-nav ul {
    margin-top: 40px;
  }

  .header-nav a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 30px 10px 30px;
  }

  .logo {
    left: 18px;
  }

  h1 {
    line-height: 1.2;
  }

  #accomodation h3 {
    font-size: 19px;
  }

  .activities-by-town .card h3 {

    padding: 20px;
    font-size: smaller;
    font-weight: bolder;
  }

  .picture {
    border-radius: 25%;
    font-size: medium;
    background-color: #0065fc;
    display: block;
    border: chocolate;
    margin-left: -15px;
  }

  .picture i {
    background-color: #0065fc;
    color: #fff;
    padding: 8px;
  }

  button .picture {
    border-color: #fff;
  }

  .seek {
    display: none;
  }

  .info-logements {
    margin-bottom: 25px;
  }

  #accomodation p {
    font-size: 16px;
  }

  .rating {
    margin-top: -7px;
  }

  .rating i {
    font-size: small;
  }

  /*
  __  __  ____  ____ _____ _      ______   _____  ______  _____ _____   ____  _   _  _____ _______      ________
 |  \/  |/ __ \|  _ \_   _| |    |  ____| |  __ \|  ____|/ ____|  __ \ / __ \| \ | |/ ____|_   _\ \    / /  ____|
 | \  / | |  | | |_) || | | |    | |__    | |__) | |__  | (___ | |__) | |  | |  \| | (___   | |  \ \  / /| |__
 | |\/| | |  | |  _ < | | | |    |  __|   |  _  /|  __|  \___ \|  ___/| |  | | . ` |\___ \  | |   \ \/ / |  __|
 | |  | | |__| | |_) || |_| |____| |____  | | \ \| |____ ____) | |    | |__| | |\  |____) |_| |_   \  /  | |____
 |_|  |_|\____/|____/_____|______|______| |_|  \_\______|_____/|_|     \____/|_| \_|_____/|_____|   \/   |______|


*/
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  header,
  footer {
    width: 100%;
  }

  aside {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    padding: 0px;
    border-radius: 0;
  }

  .most-pop,
  .town-accomodation,
  .left,
  .right,
  .footer-content {
    max-width: 310px;
    min-width: 280px;
  }

  .most-pop,
  .footer-content {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  header,
  .town-accomodation,
  #activities {
    margin-left: auto;
    margin-right: auto;
  }

  .accomodation-info {
    padding: 20px;
  }

  .accomodation-info .rating {
    margin-top: 20px;
  }

  .most-pop {
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 35px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .img1,
  .img2,
  .img3 {
    width: 140px;
    height: 100%;
  }

  header,
  #accomodation,
  #activities,
  .footer-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .town-accomodation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
  }

  #activities {
    margin-top: 0;
  }

  .activities-by-town {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .double-left,
  .double-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 490px;
  }

  .higher {
    height: 300px;
    margin-right: unset;
  }

  .left,
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    width: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .most-pop .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 130px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .accomodation-by-rating {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 8px;
    padding-bottom: unset;

  }

  .activities-by-town .card,
  .accomodation-by-rating .card {
    width: auto;
    height: 195px;
  }

  .accomodation-by-rating .clickable-card {
    width: auto;
  }

  .clickable-card {
    max-width: 310px;
    min-width: 272px;
    margin-left: auto;
    margin-right: auto;
  }

  .accomodation-by-rating-info {

    margin-left: 10px;
  }

  .accomodation-by-rating .card img {
    height: 55%;
  }

  .clickable-card img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 70%;
    width: 100%;
  }

  .most-pop img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 38%;
    border-radius: 25px 0 0 25px;
  }

  /* à modifier, toujours cadre bleu quand on click sur a.card*/
  .card:hover,
  .card:active {
    -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
            transform: scale(1.06);
    background-color: #fff;
  }

  /* à modifier, toujours cadre bleu quand on click sur a.card*/

  .town-accomodation h2,
  .display-more {
    margin-left: 0;
  }

  footer h4 {
    margin-top: 45px;
  }

  .foot-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .footer-ul {
    padding-top: 10px;
  }

  .footer-ul li {
    padding-top: 16px;
  }

  .fa-chart-line {
    float: right;
    vertical-align: top;
  }

  .display-more,
  .display-more a:active {
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

}